/* This is a CSS Comment */
/* Like <!-- --> HTML comments */

/* Remove margins and stretching */
* {
  margin: 0;
  padding: 0;
}

/* Old */
* {
  margin: 0;
  padding: 0;
}

/* New! */
#base {
  background: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}